*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' ,sans-serif;
    box-sizing: border-box;
}

/*body {
    background-image:   linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.2) 100%),linear-gradient(180deg,rgba(236,29,36,0)0%,  rgba(236, 29, 36, 0.9) 100%),url(images/marvel1.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
} */

body{
    background-color: rgba(13, 11, 17, 100%);
    border-radius: 20px;
    /* border: 3px solid #D91C39; */
    background-color: black;
    color: #fff;
}
@font-face{
font-family: "Futura";
src: url(/Futura\ Book\ font.ttf)format(truetype);
}
header{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    /* padding: 30px 10%; */
    padding-left: 20px;
    padding-right: 30px;
    height: 80px;
    background-color: rgba(14, 12, 13, 100%);
    opacity: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-bottom: 1px solid rgb(202, 35, 35);  
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}
.home button {
    padding: 9px 25px;
    background-color:#4D4B4C;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
li,a{
    color: #4D4B4C;
    text-decoration: none;
    font-family: 'Futura';
}

.container{
    padding: 4% 5%;
}
.input{
    margin-left: 30%;
    background-color: black;
    width:400px;
    height: 50px;
    padding-left: 5px;
    border: red solid 1.5px;
    border-radius: 7px;
    color: gray;
}
#submit-button{
    margin-left: 5px;
    padding:1.5% 2%;
    border: red solid 1.5px;
    border-radius: 7px;
    background: black;
    color: gray;
}

.card-container{
    display: flex;
    padding-top: 80px;
}
.container-character-image img{
    width:95%; 
    height: 110%;
    border: 4px solid white; 
}
.card-container .character-name{
    /* color: red; */
    padding-left: 25px;
    font-size: 40px;
}
.card-container .character-description{
    padding-left: 25px;
    width:90%;
    padding-top: 20px;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 1.6;
}

/*------------------------------footer----------------------------------------------------*/

.footer-area {
    margin-top: 100px;
    padding: 10px 0;
    background-image: linear-gradient(to bottom right, rgba(197, 4, 4, 0.722), rgba(0, 0, 0, 0.162));
    position:relative;
    border-radius: 0px 0px 0px 0px;
  }
  .main {
    width: 1200px;
    margin: 0 auto;
  }


  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .footer-social i{
    padding: o;
    width: 40px;
    border-radius: 1000%;
  }
  .single-footer {
    width: 230px;
  }
  .single-footer:first-child {
    width: 400px;
  }
  .single-footer h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
  }
  .footer-social a {
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .footer-social {
    margin-top: 20px;
  }
  .single-footer ul {
    list-style: none;
  }
  body > footer > div > div.footer > div:nth-child(1) > p{
    color: #fff;
  }
  .single-footer ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
    color: #fff;
  }
  .single-footer ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
  }
  .single-footer ul li a i {
    position: absolute;
    left: 0;
    top: 5px;
  }
  
  .copyright {
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
    color: gray;
  }